body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  text-align: center;
  background-color: #7FB5FF;
  font-family: 'Quicksand', serif !important;
  z-index: 1;
}

h1 {
  margin: 0 auto;
  font-size: 3.5rem !important;
}

h2 {
  position: relative;
  font-size: 3rem !important;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  z-index: 1;
  color: white;
  margin: 0;
}

h3 {
  font-size: 2.2rem !important;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 1;
  color: white;
}

h4 {
  font-size: 1.75rem;
  margin-top: 0;
}

h5 {
  font-size: 1.25rem;
  margin: 0.2rem 0 0 0;
  color: white;
}

hr {
  border-color: #BE8C63;
  border-style: none;
  border-top-style: dotted;
  border-width: 0.75vw;
  height: 0;
  width: 18vw;
  margin-top: 3vh;
}

p {
  width: auto;
  margin: 0;
  font-size: 1.42rem !important;
  color: white;
  display: block;
  line-height: 0.9;
}

ul {
  margin: 0;
}

li {
  margin: 0.2rem 0 0 0;
  font-size: 1.42rem;
  color: white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #cccccc !important;
}

img {
  max-width: 100% !important;
}

.bottom-container {
  display: block;
  padding-bottom: 0.5vh;
  position: relative;
  background-color: rgb(135, 145, 255);
}

.cloud {
  position: absolute;
}

.contact-me {
  margin-bottom: 0.5rem;
}

.core {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 1vh;
  right: 0;
}

.core-div {
  position: relative;
  height: 30rem;
  width: 100%;
}

.core-content-div {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  right: 0;
  top: 15%
}

.core-color {
  background-color: #693516;
}

.game-link {
  display: block;
  position: relative;
  margin-top: 0;
  width: 100%;
  height: 4rem;
}

.grass {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.grass-layer {
  height: 0.25rem;
}

.hidden-hr {
  visibility: hidden;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.inline-link {
  font-size: 1.5rem;
  display: inline-block;
}

.inline-paragraph {
  display: inline;
}

.middle-container {
  background-color: #87431D;
}

.night-landscape {
  transform: scaleY(-1);
  margin: 0;
  position: relative;
  width: 100vw;
}

.no-margin {
  margin: 0;
}

.number-crunch-image {
  margin-right: 1rem;

}

.number-crunch-text {
  display: flex;
  text-align: left;
  align-items: center;
}

.padded-hr {
  margin-top: 2rem;
  margin-bottom: 0;
}

.profile-pic {
  margin-bottom: 5rem;
}

.Projects {
  display: block;
}

.section-heading {
  text-decoration: underline;
}

.fill {
  width: 100%
}

.skills {
  display: block;
}

.block {
  display: block
}

.skill-images {
  margin-right: 2%;
}

.skill-row {
  position: relative;
}

.skill-text {
  display: flex;
  text-align: left;
  height: 18rem;
  align-items: center;
}

.spacer {
  padding: 5rem 0 5rem 0;
  margin: 5rem 0 1rem 0;
}

.sub-text {
  padding-left: 2vw;
}

.sun {
  width: 20rem;
  position: absolute;
  left: -7rem;
  top: -8rem;
}

.sun-div {
}

.name {
  position: relative;
}

.title {
  position: relative;
  margin
}

.title-div {
  top: 35vh;
}

.top-container {
  padding-bottom: 120vh !important;
  position: relative;
  background-color: #7FB5FF;
}

.values {
  position: relative;
  display: block
}

.value-images {
  margin-right: 2%;
}

.value-text {
  display: flex;
  text-align: left;
  align-items: center;
}

#bottom-sky1 {
  background-color: rgb(8, 18, 122);
  margin-top: -0.3rem;
  padding: 0;
}

#bottom-sky2 {
  background-color: rgb(14, 24, 128);

  padding: 0;
}

#bottom-sky3 {
  background-color: rgb(20, 30, 134);

  padding: 0;
}

#bottom-sky4 {
  background-color: rgb(26, 36, 140);

  padding: 0;
}

#bottom-sky5 {
  background-color: rgb(32, 42, 146);
  padding: 0;
}

#bottom-sky6 {
  background-color: rgb(39, 49, 153);

  padding: 0;
}

#bottom-sky7 {
  background-color: rgb(46, 56, 160);

  padding: 0;
}

#bottom-sky8 {
  background-color: rgb(53, 63, 167);

  padding: 0;
}

#bottom-sky9 {
  background-color: rgb(60, 70, 174);

  padding: 0;
}

#bottom-sky10 {
  background-color: rgb(67, 77, 181);

  padding: 0;
}

#bottom-sky11 {
  background-color: rgb(74, 84, 188);
  /*margin: -0.3rem;*/
  padding: 0;
}

#bottom-sky12 {
  background-color: rgb(81, 91, 195);

  padding: 0;
}

#bottom-sky13 {
  background-color: rgb(88, 98, 202);

  padding: 0;
}

#bottom-sky14 {
  background-color: rgb(95, 105, 209);

  padding: 0;
}

#bottom-sky15 {
  background-color: rgb(102, 112, 216);
  padding: 0;
}

#bottom-sky16 {
  background-color: rgb(108, 118, 223);

  padding: 0;
}

#bottom-sky17 {
  background-color: rgb(114, 124, 230);

  padding: 0;
}

#bottom-sky18 {
  background-color: rgb(120, 130, 237);

  padding: 0;
}

#bottom-sky19 {
  background-color: rgb(125, 135, 244);

  padding: 0;
}

#bottom-sky20 {
  background-color: rgb(130, 140, 250);

  padding: 0;
}

#cloud1 {
  right: 20%;
  top: -250%;
}

#cloud2 {
  top: 10%;
  left: 3%;
}

#cloud3 {
  top: -290%;
  left: 20%;
}

#cloud4 {
  top: 130%;
  left: 37%;
}

#cloud5 {
  top: 20%;
  right: 5%;
}

/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {
  #cloud1 {
    right: 5%;
    top: -200%
  }
  #cloud2 {
    top: 140%;
    left: -10%
  }
  #cloud3 {
    left: -5%;
    top: -150%
  }
  #cloud4 {
    top: 250%;
    left: 30%
  }
  #cloud5 {
    top: 100%;
    right: -8%;
  }

  h2 {
    font-size: 2.25rem !important;
  }
  h3 {
    font-size: 1.3rem !important;
  }
  p {
    font-size: 1rem !important;
  }
  a {
    font-size: 1rem !important;
  }
  li {
    font-size: 1rem !important;
  }
  .top-container {
    padding-bottom: 100vh !important;
  }
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {
  #cloud1 {
    right: 5%;
    top: -100%
  }
  #cloud2 {
    top: 60%;
    left: -5%
  }
  #cloud3 {
    left: 15%;
    top: -150%
  }
  #cloud4 {
    top: 160%;
    left: 30%
  }
  #cloud5 {
    top: 60%;
    right: -3%;
  }

  h2 {
    font-size: 2.4rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  p {
    font-size: 1.1rem !important;
  }
  a {
    font-size: 1.1rem !important;
  }
  li {
    font-size: 1.1rem !important;
  }
}

@media screen and (orientation: landscape) and (min-width: 481px) {
  .top-container {
    padding-bottom: 165vh !important;
  }
  #cloud1 {
    right: 10%;
    top: -110%;
    width: 25%;
  }
  #cloud2 {
    top: 50%;
    left: 3%;
    width: 25%;
  }
  #cloud3 {
    left: 20%;
    top: -150%;
    width: 25%;
  }
  #cloud4 {
    top: 140%;
    left: 40%;
    width: 25%;
  }
  #cloud5 {
    top: 50%;
    right: 3%;
    width: 25%;
  }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
 @media (min-width:641px) {
   #cloud1 {
     right: 5%;
     top: -170%
   }
   #cloud2 {
     top: 50%;
     left: -5%
   }
   #cloud3 {
     left: 10%;
     top: -180%
   }
   #cloud4 {
     top: 140%;
     left: 30%
   }
   #cloud5 {
     top: 50%;
     right: -3%;
   }

   h2 {
     font-size: 2.6rem !important;
   }
   h3 {
     font-size: 1.8rem !important;
   }
   p {
     font-size: 1.25rem !important;
   }
   a {
     font-size: 1.25rem !important;
   }
   li {
     font-size: 1.25rem !important;
   }
   .top-container {
     padding-bottom: 100vh !important;
   }
 }

/* tablet, landscape iPad, lo-res laptops ands desktops */
 @media (min-width:961px) {
   h2 {
     font-size: 2.8rem !important;
   }
   h3 {
     font-size: 2rem !important;
   }
   p {
     font-size: 1.32rem !important;
   }
   a {
     font-size: 1.32rem !important;
   }
   li {
     font-size: 1.32rem !important;
   }
 }

/* big landscape tablets, laptops, and desktops */
 @media (min-width: 1025px) {
   #cloud1 {
     right: 10%;
   }
   #cloud3 {
     left: 15%;
   }
   #cloud4 {
     top: 170%;
   }
   #cloud5 {
     top: -10%;
     right: 3%;
   }

   h2 {
     font-size: 3rem !important;
   }
   h3 {
     font-size: 2.2rem !important;
   }
   p {
     font-size: 1.42rem !important;
   }
   a {
     font-size: 1.42rem !important;
   }
   li {
     font-size: 1.42rem !important;
   }
 }

/* hi-res laptops and desktops */
 @media (min-width:1281px) {
   #cloud1 {
     right: 17%;
     top: -250%
   }
   #cloud2 {
    left: 3%;
   }
   #cloud3 {
     left: 15%;
     top: -250%;
   }
   #cloud4 {
     top: 170%;
     left: 40%
   }
   #cloud5 {
     top: -10%;
     right: 3%;
   }
   .top-container {
     padding-bottom: 130vh !important;
   }
 }

#copyright {
  padding-top: 1rem;
  font-size: 0.7rem !important;
}

#grass-layer1 {
  background-color: rgb(81, 146, 89);
}

#grass-layer2 {
  background-color: rgb(87, 138, 82);
}

#grass-layer3 {
  background-color: rgb(94, 130, 75);
}

#grass-layer4 {
  background-color: rgb(100, 122, 67);
}

#grass-layer5 {
  background-color: rgb(106, 114, 60);
}

#grass-layer11 {
  background-color: rgb(112, 105, 53);
}

#grass-layer12 {
  background-color: rgb(118, 95, 45);
}

#grass-layer13 {
  background-color: rgb(124, 85, 38);
}

#grass-layer14 {
  background-color: rgb(130, 75, 32);
}

#grass-layer15 {
  background-color: rgb(135, 67, 29)
}

#grass-layer6 {
  background-color: rgb(122, 61, 29);
}

#grass-layer7 {
  background-color: rgb(109, 55, 29);
}

#grass-layer8 {
  background-color: rgb(96, 49, 28);
}

#grass-layer9 {
  background-color: rgb(83, 42, 28);
}

#grass-layer10 {
  background-color: rgb(70, 35, 27);
}

#grass-layer16 {
  background-color: rgb(57, 29, 27);
}

#grass-layer17 {
  background-color: rgb(43, 23, 26);
}

#grass-layer18 {
  background-color: rgb(28, 20, 25);
}

#grass-layer19 {
  background-color: rgb(15, 17, 24);
}

#grass-layer20 {
  background-color: rgb(2, 15, 23);
}

#core-layer1 {
  background-color: rgb(133, 66, 29);
}

#core-layer2 {
  background-color: rgb(130, 65, 28);
}

#core-layer3 {
  background-color: rgb(127, 64, 28);
}

#core-layer4 {
  background-color: rgb(123, 63, 27);
}

#core-layer5 {
  background-color: rgb(120, 61, 26);
}

#core-layer6 {
  background-color: rgb(117, 59, 25);
}

#core-layer7 {
  background-color: rgb(114, 57, 24);
}

#core-layer8 {
  background-color: rgb(111, 56, 23);
}

#core-layer9 {
  background-color: rgb(109, 55, 22);
}

#core-layer10 {
  background-color: rgb(107, 54, 22);
}
