body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  text-align: center;
  background-color: #7FB5FF;
  font-family: 'Quicksand', serif;
  z-index: 1;
}

h1 {
  margin: 0 auto;
  font-size: 4rem;
}

h2 {
  position: relative;
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  z-index: 1;
  color: white;
  margin: 0;
}

h3 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 1;
  color: white;
}

h4 {
  font-size: 1.75rem;
  margin-top: 0;
}

h5 {
  font-size: 1.25rem;
  margin: 0.2rem 0 0 0;
  color: white;
}

hr {
  border-color: #BE8C63;
  border-style: none;
  border-top-style: dotted;
  border-width: 0.75vw;
  height: 0;
  width: 18vw;
  margin-top: 3vh;
}

p {
  width: auto;
  margin: 0 0 0.1rem 0;
  font-size: 1.42rem;
  color: white;
  display: block;
}

ul {
  margin: 0;
}

li {
  margin: 0;
  font-size: 1.42rem;
  color: white;
}

.bottom-container {
  display: block;
  padding-bottom: 0.5vh;
  position: relative;
  background-color: rgb(135, 145, 255);
}

.cloud {
  position: absolute;
  width: 25%;
}

.contact-me {
  margin-bottom: 0.5rem;
}

.core {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 1vh;
  right: 0;
}

.game-link {
  display: block;
  position: relative;
  margin-top: 0.6rem;
  width: 100%;
  height: 8rem;
}

.grass {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
}

.grass-layer {
  height: 0.25rem;
}

.hidden-hr {
  visibility: hidden;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.inline-link {
  font-size: 1.5rem;
}

.inline-paragraph {
  display: inline-block;
}

.middle-container {
  background-color: #87431D;
}

.night-landscape {
  transform: scaleY(-1);
  margin: 0;
  position: relative;
  width: 100vw;
}

.no-margin {
  margin: 0;
}

.number-crunch-image {
  width: 26rem;
  float: left;
  margin-right: 1rem;
}

.number-crunch-text {
  display: flex;
  text-align: left;
  align-items: center;
}

.padded-hr {
  margin-top: 2rem;
  margin-bottom: 0;
}

.profile-pic {
  margin-bottom: 5rem;
}

.Projects {
  display: block;
}

.section-heading {
  text-decoration: underline;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.skills {
  display: block;
}

.skill-images {
  width: 18rem;
  float: left;
  margin-right: 2vw;
}

.skill-row {
  display: inline-block;
  position: relative;
  width: 50rem;
}

.skill-text {
  display: flex;
  text-align: left;
  height: 18rem;
  align-items: center;
}

.spacer {
  padding: 5rem 0 5rem 0;
  margin: 5rem 0 1rem 0;
}

.sub-text {
  padding-left: 2vw;
}

.sun {
  width: 20vw;
  position: absolute;
  left: -6vw;
  top: -13vh;
}

.title {
  position: relative;
  top: 40vh;
}

.top-container {
  padding-bottom: 120vh;
  position: relative;
  background-color: #7FB5FF;
}

.values {
  position: relative;
}

.value-images {
  width: 7rem;
  float: left;
  margin-right: 2vw;
}

.value-text {
  display: flex;
  text-align: left;
  height: 7rem;
  align-items: center;
}

#bottom-sky1 {
  background-color: rgb(8, 18, 122);
  margin-top: -0.3rem;
  padding: 0;
}

#bottom-sky2 {
  background-color: rgb(14, 24, 128);

  padding: 0;
}

#bottom-sky3 {
  background-color: rgb(20, 30, 134);

  padding: 0;
}

#bottom-sky4 {
  background-color: rgb(26, 36, 140);

  padding: 0;
}

#bottom-sky5 {
  background-color: rgb(32, 42, 146);
  padding: 0;
}

#bottom-sky6 {
  background-color: rgb(39, 49, 153);

  padding: 0;
}

#bottom-sky7 {
  background-color: rgb(46, 56, 160);

  padding: 0;
}

#bottom-sky8 {
  background-color: rgb(53, 63, 167);

  padding: 0;
}

#bottom-sky9 {
  background-color: rgb(60, 70, 174);

  padding: 0;
}

#bottom-sky10 {
  background-color: rgb(67, 77, 181);

  padding: 0;
}

#bottom-sky11 {
  background-color: rgb(74, 84, 188);
  /*margin: -0.3rem;*/
  padding: 0;
}

#bottom-sky12 {
  background-color: rgb(81, 91, 195);

  padding: 0;
}

#bottom-sky13 {
  background-color: rgb(88, 98, 202);

  padding: 0;
}

#bottom-sky14 {
  background-color: rgb(95, 105, 209);

  padding: 0;
}

#bottom-sky15 {
  background-color: rgb(102, 112, 216);
  padding: 0;
}

#bottom-sky16 {
  background-color: rgb(108, 118, 223);

  padding: 0;
}

#bottom-sky17 {
  background-color: rgb(114, 124, 230);

  padding: 0;
}

#bottom-sky18 {
  background-color: rgb(120, 130, 237);

  padding: 0;
}

#bottom-sky19 {
  background-color: rgb(125, 135, 244);

  padding: 0;
}

#bottom-sky20 {
  background-color: rgb(130, 140, 250);

  padding: 0;
}

#cloud1 {
  right: 20vw;
  top: 5vh;
}

#cloud2 {
  top: 40vh;
  left: 0;
}

#cloud3 {
  top: 7vh;
  left: 20vw;
}

#cloud4 {
  top: 60vh;
  right: 35vw;
}

#cloud5 {
  top: 40vh;
  right: 5vw;
}

#copyright {
  padding-top: 1rem;
  font-size: 1rem;
}

#grass-layer1 {
  background-color: rgb(81, 146, 89);
}

#grass-layer2 {
  background-color: rgb(87, 138, 82);
}

#grass-layer3 {
  background-color: rgb(94, 130, 75);
}

#grass-layer4 {
  background-color: rgb(100, 122, 67);
}

#grass-layer5 {
  background-color: rgb(106, 114, 60);
}

#grass-layer11 {
  background-color: rgb(112, 105, 53);
}

#grass-layer12 {
  background-color: rgb(118, 95, 45);
}

#grass-layer13 {
  background-color: rgb(124, 85, 38);
}

#grass-layer14 {
  background-color: rgb(130, 75, 32);
}

#grass-layer15 {
  background-color: rgb(135, 67, 29)
}

#grass-layer6 {
  background-color: rgb(122, 61, 29);
  margin-top: 6rem;
}

#grass-layer7 {
  background-color: rgb(109, 55, 29);
}

#grass-layer8 {
  background-color: rgb(96, 49, 28);
}

#grass-layer9 {
  background-color: rgb(83, 42, 28);
}

#grass-layer10 {
  background-color: rgb(70, 35, 27);
}

#grass-layer16 {
  background-color: rgb(57, 29, 27);
}

#grass-layer17 {
  background-color: rgb(43, 23, 26);
}

#grass-layer18 {
  background-color: rgb(28, 20, 25);
}

#grass-layer19 {
  background-color: rgb(15, 17, 24);
}

#grass-layer20 {
  background-color: rgb(2, 15, 23);
}

#number-crunch {
  width: auto;
}

#values-heading {
  padding-top: 9rem;
}
